USE [master]
GO
/****** Object:  Database [flight]    Script Date: 2020/6/30 17:24:31 ******/
CREATE DATABASE [flight]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'flight', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HKXTDB.mdf' , SIZE = 30720KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'flight_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HKXTDB_log.ldf' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [flight].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [flight]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 2020/6/30 17:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Administrator](
	[userName] [nvarchar](4) NOT NULL,
	[Company] [nvarchar](12) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Realname] [nchar](10) NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Air]    Script Date: 2020/6/30 17:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Air](
	[Airport] [nvarchar](6) NOT NULL,
	[Company] [nvarchar](12) NOT NULL,
	[City] [varchar](6) NOT NULL,
	[Acall] [varchar](11) NULL,
	[Aaddress] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_Air] PRIMARY KEY CLUSTERED 
(
	[Airport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2020/6/30 17:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[Company] [nvarchar](12) NOT NULL,
	[Cnum] [char](18) NOT NULL,
	[Ccall] [char](11) NULL,
	[Caddress] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fly]    Script Date: 2020/6/30 17:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fly](
	[Fno] [nvarchar](18) NOT NULL,
	[Company] [nvarchar](12) NOT NULL,
	[takeTime] [varchar](24) NOT NULL,
	[arrivedTime] [varchar](24) NOT NULL,
	[Start] [nvarchar](8) NOT NULL,
	[Endplace] [nvarchar](8) NOT NULL,
	[Asit] [varchar](4) NOT NULL,
	[Flytime] [varchar](12) NOT NULL,
	[Fairport] [nvarchar](8) NULL,
	[Eairport] [nvarchar](8) NULL,
	[Bsit] [varchar](4) NULL,
 CONSTRAINT [PK_Fly] PRIMARY KEY CLUSTERED 
(
	[Fno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Passenger]    Script Date: 2020/6/30 17:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Passenger](
	[Pid] [char](18) NOT NULL,
	[Psex] [nchar](2) NULL,
	[Pname] [nvarchar](12) NOT NULL,
	[Pcall] [varchar](11) NOT NULL,
 CONSTRAINT [PK_Passenger] PRIMARY KEY CLUSTERED 
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 2020/6/30 17:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ticket](
	[Tno] [varchar](8) NOT NULL,
	[Fno] [nvarchar](18) NOT NULL,
	[Company] [nvarchar](12) NOT NULL,
	[Booktime] [varchar](10) NOT NULL,
	[Pid] [char](18) NOT NULL,
	[Sit] [varchar](4) NOT NULL,
	[Date] [nchar](10) NULL,
	[Price] [nchar](10) NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Tno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Company] FOREIGN KEY([Company])
REFERENCES [dbo].[Company] ([Company])
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Company]
GO
ALTER TABLE [dbo].[Air]  WITH CHECK ADD  CONSTRAINT [FK_Air_Air] FOREIGN KEY([Airport])
REFERENCES [dbo].[Air] ([Airport])
GO
ALTER TABLE [dbo].[Air] CHECK CONSTRAINT [FK_Air_Air]
GO
ALTER TABLE [dbo].[Air]  WITH CHECK ADD  CONSTRAINT [FK_Air_Company] FOREIGN KEY([Company])
REFERENCES [dbo].[Company] ([Company])
GO
ALTER TABLE [dbo].[Air] CHECK CONSTRAINT [FK_Air_Company]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Company] FOREIGN KEY([Company])
REFERENCES [dbo].[Company] ([Company])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Company]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Passenger] FOREIGN KEY([Pid])
REFERENCES [dbo].[Passenger] ([Pid])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Passenger]
GO
USE [master]
GO
